<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Delete Film</title>
    <link rel="stylesheet" href="/css/styles.css"/>
    <script type="text/javascript" src="/js/jquery-2.1.4.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#film").submit(function(event) {
                $.ajax({
                    url: "checkFilm/" + $("#filmId").val(),
                    async: false,
                    success: function(data) {
                        if(data !== "") {
                            alert(data);
                            event.preventDefault();
                        }
                    }
                })
            });
        });
    </script>
</head>
<body>
<div class="wrapper">
    <div th:insert="admin-menu"></div>
    <div style="margin: 5px;">Удалить фильм</div>
    <div th:unless="${#lists.isEmpty(filmList)}">
        <form th:action="@{deleteFilm}" th:object="${film}" id="film" method="post">
            <div style="margin: 5px;">
                <label th:for="*{filmId}">Фильм</label>
                <select th:field="*{filmId}">
                    <option value="0" label="Выберите фильм"></option>
                    <option th:each="film : ${filmList}"
                            th:text="${film.filmName}"
                            th:value="${film.filmId}">
                    </option>
                </select>
                <div th:if="${#fields.hasErrors('filmId')}" th:errors="*{filmId}" style="display: inline;"></div>
            </div>
            <div style="margin: 5px;"><input type="submit" value="Удалить"></div>
        </form>
    </div>
</div>
</body>
</html>
