<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Delete Filmshow</title>
    <link rel="stylesheet" href="/css/styles.css"/>
    <script type="text/javascript" src="/js/jquery-2.1.4.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#filmshow").submit(function(event) {
                $.ajax({
                    url: "checkFilmshow/" + $("#filmshowId").val(),
                    async: false,
                    success: function(data) {
                        if(data !== "") {
                            alert(data);
                            event.preventDefault();
                        }
                    }
                })
            });
        });
    </script>
</head>
<body>
<div class="wrapper">
    <div th:insert="admin-menu"></div>
    <div style="margin: 5px;">Удалить сеанс</div>
    <div th:unless="${#lists.isEmpty(filmshowList)}">
        <form th:action="@{deleteFilmshow}" th:object="${filmshow}" id="filmshow" method="post">
            <div style="margin: 5px;">
                <label th:for="*{filmshowId}">Фильм</label>
                <select th:field="*{filmshowId}">
                    <option value="0" label="Выберите сеанс"></option>
                    <option th:each="filmshow : ${filmshowList}"
                            th:text="${filmshow.description}"
                            th:value="${filmshow.filmshowId}">
                    </option>
                </select>
                <div th:if="${#fields.hasErrors('filmshowId')}" th:errors="*{filmshowId}" style="display: inline;"></div>
            </div>
            <div style="margin: 5px;"><input type="submit" value="Удалить"></div>
        </form>
    </div>
</div>
</body>
</html>
